* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

img {
  width: 100%;
}

div.project-image {
  height: 100px;
  width: 500px;
}

img.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
}

div.home {
  vertical-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 1.25rem;
  white-space: nowrap;
}

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 40px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  padding: 10px 0 10px 0;
  top: 0;
  /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
}

img.full-width {
  width: 100%;
}

img.half-width {
  width: 50%;
}

img.quarter-width {
  width: 33%;
}

body.animate-out {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.arrow {
  display: inline;
  font-size: 3rem;
  font-weight: 400;
}

h1.home {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

p.contact-link {
  text-align: center;
  padding-bottom: 5%;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p.centered {
  text-align: center;
  vertical-align: center;
  position: fixed;
  top: 50%
}

p.text-padded {
  padding: 0 20% 0 20%;
}

a:hover, a:focus {
  text-decoration: none;
  color: gray;
}

.page-contents {
  margin-top: 5em;
}

p.tagline {
  font-weight: 300;
  font-size: 1.5rem;
  font-variant: small-caps;
}

p.worktitle {
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: lowercase;
  color: white;
  background-color: black;
}

p.worktitle-news {
  background-image: url("images/kiosk.jpg");
  background-size: cover;
  padding: 8em 0 8em 0;
}

p.section-head {
  font-weight: 800;
}

p.definition {
  padding: 0 5% 0 5%;
}

span.definition-word {
  font-weight: 300;
}

.coh {
  text-transform: uppercase !important;
}

.coh-bg {
  background-color: #849ef3;
}

.coh-screen {
  padding: 60px;
}

.coh-gif {
  padding: 10% 30% 10% 30%;
}

.spacer {
  padding: 5rem;
}

.smallspacer {
  padding: 2rem;
}

p.potnis-container {
  background-color: #9cafb7;
}

p.yams-container {
  background-color: #2322ad;
}

p.rothenberg-container {
  background-color: #e3897e;
}

p.ahwesh-container {
  background-color: #5c6fb8;
}

p.benson-container {
  background-color: #fdd680;
}

p.demirjian-container {
  background-color: #699e97;
  /* 699e97*/
}

div.work-container {
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.flip-card {
  background-color: transparent;
  height: 5em;
  width: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 1400px;
}

.flip-card-inner:hover {
  transform: scale(1.05);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.flip-card-inner a {
  text-transform: lowercase;
  font-size: 1em;
  text-align: center;
  line-height: 4em;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  color: black;
}

.row {
  padding: 2em;
}

/* Position the image container (needed to position the left and right arrows) */
.slideshow {
  position: relative;
  margin: auto;
  max-width: 100%;
}

.mySlides {
  display: none;
  height: 600px;
}

.mySlides img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

a.prev:hover,
a.next:hover {
  color: white !important;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgb(0, 0, 0);
}

.gallery-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.gallery-column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.dot {
  opacity: 0.6;
}

.active,
.dot:hover {
  opacity: 1;
}

/**********************************/
/* - - - - - - MOBILE - - - - - - -
- - - - - - - STYLES - - - - - - -*/
/*********************************/
@media only screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }

  .sidenav {
    top: auto;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }

  div.home {
    position: relative;
    top: auto;
    left: auto;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }

  .spacer {
    padding: 2rem;
  }

  img.mobile-full-width {
    width: 100%;
  }

  p.text-padded {
    padding: 0 5% 0 5%;
  }

  .coh-screen {
    padding: 90px;
  }

  .coh-gif {
    padding: 50px;
  }

  .padding-bottom-10 {
    padding-bottom: 10px;
  }
}